.bgOne {
    background-image: url('../img/gallery/gallery1.png');
}

.bgTwo {
    background-image: url('../img/gallery/gallery2.png');
}

.bgThree {
    background-image: url('../img/gallery/gallery3.png');
}

.bgFour {
    background-image: url('../img/gallery/gallery4.png');
}

.bgFive {
    background-image: url('../img/gallery/gallery5.png');
}

.bgSix {
    background-image: url('../img/gallery/gallery6.png');
}